@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueRegular.eot');
  src: local('Bebas Neue Regular'), local('../fonts/BebasNeueRegular'),
    url('../fonts/BebasNeueRegular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueRegular.woff') format('woff'),
    url('../fonts/BebasNeueRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueBold.eot');
  src: local('Bebas Neue Bold'), local('../fonts/BebasNeueBold'),
    url('../fonts/BebasNeueBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBold.woff') format('woff'),
    url('../fonts/BebasNeueBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueLight.eot');
  src: local('Bebas Neue Light'), local('../fonts/BebasNeueLight'),
    url('../fonts/BebasNeueLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueLight.woff') format('woff'),
    url('../fonts/BebasNeueLight.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue';
  src: url('../fonts/BebasNeueThin.eot');
  src: local('Bebas Neue Thin'), local('../fonts/BebasNeueThin'),
    url('../fonts/BebasNeueThin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueThin.woff') format('woff'),
    url('../fonts/BebasNeueThin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Bebas Neue Book';
  src: url('../fonts/BebasNeueBook.eot');
  src: local('Bebas Neue Book'), local('../fonts/BebasNeueBook'),
    url('../fonts/BebasNeueBook.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BebasNeueBook.woff') format('woff'),
    url('../fonts/BebasNeueBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$bn: 'Bebas Neue',
sans-serif;
$bnb: 'Bebas Neue Book',
sans-serif;
$l: 'Lora',
serif;
$ssp: 'Source Sans Pro',
sans-serif;

$blue: #0087f9;

body {
  font-size: 16px;
  -size: 16px;
  color: black;
  overflow-x: hidden;
}

a,
input,
textarea,
label {
  transition: all .3s;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

h3 {
  margin: 0 0 35px;
  font-family: $l;
  font-size: 32px;
  line-height: 38px;
}

h4 {
  margin: 0 0 35px;
  font-family: $l;
  font-size: 26px;
  line-height: 28px;
}

p {
  font-family: $ssp;
  font-weight: 200;
  font-size: 18px;
  color: #8b8b8b;
}

input[type=text] {
  margin: 0;
  height: 50px;
  padding: 0 15px;
  font-family: $ssp;
  font-weight: 300;
  line-height: 50px;
  border: none;
  outline: none;
  color: #000;
  background-color: #fff;
}

textarea {
  margin: 0;
  height: 130px;
  padding: 12px 25px;
  font-family: $ssp;
  font-weight: 300;
  border: none;
  outline: none;
  color: #000;
  resize: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn {
  position: relative;
  height: 50px;
  padding: 0 40px;
  text-align: center;
  text-transform: uppercase;
  font-family: $bn;
  font-size: 18px;
  line-height: 46px;
  letter-spacing: 0.06em;
  border-radius: 0;
  background: transparent;
  outline: none;
  overflow: hidden;

  span {
    position: relative;
    z-index: 1;
  }

  &:after {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    content: '';
    transition: all .3s;
  }

  &:hover {
    &:after {
      top: 0;
    }
  }

  &-black {
    color: black;
    border: 2px solid black;

    &:after {
      background-color: black;
    }

    &:hover {
      color: white;
    }
  }

  &-white {
    color: white;
    border: 2px solid white;

    &:after {
      background-color: white;
    }

    &:hover {
      color: black;
    }
  }

  &-primary {
    color: #fff;

    &:after {
      top: 0;
    }

    &:hover {
      border-color: #000;
    }
  }
}

// Checkbox

.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.checkbox+label {
  position: relative;
  padding: 0 0 0 24px;
  cursor: pointer;
}

.checkbox+label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 14px;
  height: 14px;
  border-radius: 0;
  background: #FFF;
}

.checkbox+label:after {
  content: '';
  position: absolute;
  top: 2px + 4;
  left: 4px;
  width: 6px;
  height: 8px;
  border-radius: 0;
  opacity: 0;
  border-right: 3px solid #000;
  border-bottom: 3px solid #000;
  transition: .3s;
  transform: rotate(45deg);
}

.checkbox:checked+label:after {
  opacity: 1;
}

.checkbox-w {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.checkbox-w+label {
  position: relative;
  padding: 0 0 0 (18px + 15);
  cursor: pointer;
}

.checkbox-w+label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 0;
  border: 2px solid #000;
  background: #FFF;
}

.checkbox-w+label:after {
  content: '';
  position: absolute;
  top: 2px + 5;
  left: 6px;
  width: 6px;
  height: 9px;
  border-radius: 0;
  opacity: 0;
  border-right: 3px solid #fff;
  border-bottom: 3px solid #fff;
  transition: .3s;
  transform: rotate(45deg);
}

.checkbox-w:checked+label:after {
  opacity: 1;
}

.checkbox-w:checked+label:before {
  background-color: #000;
}

// Radio

.radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 0;
}

.radio+label {
  position: relative;
  padding: 0 0 0 (18px + 15);
  cursor: pointer;
}

.radio+label:before {
  content: '';
  position: absolute;
  top: 4px;
  left: 0;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid #000;
  background: #FFF;
}

.radio+label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  opacity: 0;
  background-color: #000;
  transition: .3s;
  transform: rotate(45deg);
}

.radio:checked+label:after {
  opacity: 1;
}

// Select

.ui-button {
  padding: 0;
  outline: none;
}

.ui-selectmenu-button.ui-button {
  width: 280px;
}

.ui-selectmenu-text {
  position: relative;
  margin-right: 0;
  height: 40px;
  line-height: 40px - 2;
  padding: 0 18px;
  font-family: $ssp;
  font-size: 16px;
  border: 1px solid #000;

  &:after {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 6px;
    height: 6px;
    border-bottom: 1px solid #000;
    border-right: 1px solid #000;
    content: '';
    transform: rotate(45deg)
  }
}

.ui-menu .ui-menu-item-wrapper {
  padding: 0;
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
  margin: 0;
}

.ui-selectmenu-menu .ui-menu {
  padding: 2px 0;
  background-color: #000;
}

.ui-menu .ui-menu-item {
  height: 40px;
  padding: 0 18px;
  font-family: $ssp;
  font-size: 16px;
  line-height: 40px;
  transition: all .3s;
  color: #ffffff;

  &:hover {
    color: #000;
    background-color: #f6f6f6;
  }
}

.ui-selectmenu-menu .ui-menu {
  margin-top: 0;
}

.ui-state-disabled {
  color: #999999;
}

label {
  margin: 0;
  rgin: 0;
}

.owl-carousel .owl-nav {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: -60px;

  button.owl-prev,
  button.owl-next {
    margin: 0 15px;
    width: 43px;
    height: 7px;
    background-image: url(../img/icons/hero-arrow.png);
    outline: none;
    transition: all .3s;

    &:hover {
      opacity: .7;
    }
  }

  button.owl-next {
    transform: rotate(180deg);
  }
}

.container-fluid {
  padding-right: 50px;
  padding-left: 50px;
}

// Header

.header {
  margin-bottom: 40px;

  &-top {
    height: 100px;
    padding: 0 15px;
    line-height: 100px;

    &-logo {
      img {
        max-width: 165px;
      }
    }

    &-right {
      text-align: right;
    }

    &-nav {
      display: inline-block;
      text-align: right;

      ul {
        margin: 0;
        padding: 0;

        li {
          display: inline-block;
          list-style: none;

          a {
            margin-right: 40px;
            font-family: $ssp;
            color: #8b8b8b;

            &:hover {
              color: black;
            }
          }
        }
      }
    }

    &-phone {
      margin-left: 40px;
      font-family: $bn;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: .06em;
      color: black;

      &:hover {
        color: black;
      }
    }
  }

  &-main {
    height: 70px;
    padding: 0 45px;
    line-height: 70px;
    background-color: #000;

    &-nav {
      margin: 0;
      padding: 0;

      &-show {
        position: absolute;
        top: 70px - 2;
        z-index: -1;
        margin: 1px 0 0;
        padding: 15px 0;
        background-color: #000;
        opacity: 0;
        transition: opacity .3s;
        visibility: hidden;

        li {
          list-style: none;
          float: none;

          a {
            width: 100%;
            height: 40px;
            padding: 0 30px;
            font-size: 16px;
            line-height: 40px;

            &:before,
            &:after {
              display: none;
            }

            &:hover {
              color: #000;
              background-color: #fff;
            }
          }
        }

        &:hover {
          z-index: 2;
          opacity: 1;
          visibility: visible;
        }
      }

      &>li {
        float: left;
        margin-right: 50px;
        list-style: none;

        a {
          position: relative;
          top: 0;
          display: block;
          font-family: $bn;
          font-size: 20px;
          font-weight: bold;
          text-transform: uppercase;
          letter-spacing: .06em;
          color: #fff;

          &:before,
          &:after {
            position: absolute;
            right: 0;
            left: 0;
            margin: 0 auto;
            width: 100%;
            height: 6px;
            background-color: transparent;
            transition: all .3s;
            content: '';
          }

          &:before {
            top: -2px;
          }

          &:after {
            bottom: 2px;
          }

          &:hover,
          &.active {

            &:before,
            &:after {
              background-color: #fff;
            }
          }
        }

        &:last-child {
          margin-right: 0;
        }

        &>a:hover {
          &+.header-main-nav-show {
            z-index: 2;
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }

    &-user {
      margin: 0;
      padding: 0;
      text-align: right;

      li {
        position: relative;
        display: inline-block;
        margin-left: 35px;

        .item {
          position: relative;

          img {
            transition: all .3s;
          }

          span {
            position: absolute;
            z-index: 1;
            top: -10px;
            right: -10px;
            width: 20px;
            height: 20px;
            text-align: center;
            font-family: $bn;
            font-weight: bold;
            font-size: 14px;
            color: #fff;
            line-height: 20px;
            border-radius: 50%;
            background-color: #ff0000;
          }

          &:hover {
            img {
              opacity: .7;
            }
          }
        }

        .search-form {
          position: absolute;
          top: 0;
          right: 0;
          display: none;

          form {
            position: relative;
          }

          input {
            width: 240px;
            height: 36px;
            padding: 0 15px;
            font-family: $ssp;
            line-height: 36px;
            background-color: #fff;
            border: none;
            outline: none;
            color: #000;
          }

          button {
            position: absolute;
            top: 15px;
            right: 10px;
            height: 36px;
            padding: 0;
            line-height: 36px;
            background: none;
            border: none;
            outline: none;

            i {
              font-size: 12px;
              color: #8b8b8b;
              transition: all .3s;
            }

            &:hover {
              i {
                color: #000;
              }
            }
          }
        }

        &:first-child {
          margin-left: 0;
        }
      }
    }
  }
}

.hero {
  margin-bottom: 170px;

  &-carousel {
    .item {
      overflow: hidden;
    }

    span {
      position: absolute;
      right: 0;
      bottom: 30px - 5;
      left: 0;
      margin: 0 auto;
      text-transform: uppercase;
      text-align: center;
      font-size: 12px;
      z-index: 2;
      color: #fff;

      &.hashright {
        margin: 0;
        right: 30px + 15;
        left: auto;
      }
    }

    img {
      max-width: 100%;
      min-height: 100%;
      filter: grayscale(100%);
      transition: all .3s;
    }

    a {
      &:hover {
        img {
          filter: none;
        }
      }
    }
  }
}

.category-one {
  margin-bottom: 170px;

  a {
    position: relative;
    display: block;
    overflow: hidden;

    span {
      position: absolute;
      bottom: 25px;
      left: 0;
      z-index: 1;
      display: block;
      height: 94px;
      padding: 0 50px;
      line-height: 94px;
      font-family: $bn;
      font-weight: bold;
      font-size: 24px;
      letter-spacing: .06em;
      color: #000;
      background-color: #fff;
    }

    img {
      transition: all .6s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }
}

.category-two {
  margin-bottom: 170px;

  a.item {
    position: relative;
    display: block;
    margin-bottom: 30px;
    overflow: hidden;

    .item-title {
      position: absolute;
      bottom: 10px;
      left: 0;
      z-index: 1;
      display: block;
      height: 56px;
      padding: 0 25px;
      line-height: 56px;
      font-family: $bn;
      font-weight: bold;
      font-size: 16px;
      letter-spacing: .06em;
      color: #000;
      background-color: #fff;
    }

    img {
      width: 100%;
      transition: all .6s;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }
  }

  &-show {
    display: flex;
    align-items: center;
    height: calc(100% - 30px);
    padding: 30px 100px;
    background-color: #f6f6f6;

    h4 {
      margin: 0 0 45px;
      text-transform: uppercase;
      font-family: $bn;
      font-size: 18px;
      letter-spacing: 0.06em;
      color: #ff0000;
    }

    h3 {
      margin: 0 0 100px;
      font-family: $l;
      font-size: 32px;
      line-height: 38px;
    }
  }
}

.banners {
  margin-bottom: 170px;

  img {
    width: 100%;
  }

  .show-catalog {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 150px 0;
    background-color: black;

    h4 {
      margin: 0 0 45px;
      text-transform: uppercase;
      font-family: $bn;
      font-size: 18px;
      letter-spacing: 0.06em;
      color: #ff0000;
    }

    h3 {
      margin: 0 0 20px;
      font-family: $l;
      font-size: 32px;
      line-height: 38px;
      color: #fff;
    }

    P {
      margin-bottom: 80px;
      font-family: $ssp;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      color: #b8b8b8;
    }
  }
}

.block-text {
  margin-bottom: 170px;

  h4 {
    margin-top: 90px;
  }
}

.footer {
  margin-top: 220px + 170;

  &-main {
    background-color: #f6f6f6;

    .subscribe {
      margin-top: -220px;
      padding: 60px 155px 75px;
      background-color: #000;
      color: #fff;

      h3 {
        margin-bottom: 50px;
        text-align: center;
      }

      input[type="text"] {
        margin-bottom: 25px;
        width: 100%;
      }

      input[type="checkbox"] {
        margin: 0;
        float: left;
      }

      label {
        font-family: $ssp;
        font-weight: 300;
        font-size: 16px;
        color: #8b8b8b;

        a {
          text-decoration: underline;
          color: #8b8b8b;

          &:hover {
            color: #fff;
          }
        }
      }

      .btn {
        width: 100%;
      }
    }

    &-nav {
      margin-top: 100px;
      margin-bottom: 100px;

      .item {
        padding-right: 15px;
        padding-left: 55px;
      }

      h4 {
        margin: 0 0 25px;
        font-family: $bn;
        font-size: 18px;
        letter-spacing: .06em;
        text-transform: uppercase;
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          list-style: none;

          a {
            font-family: $ssp;
            font-size: 16px;
            font-weight: 300;
            color: #8b8b8b;

            &:hover {
              color: black;
            }
          }
        }
      }
    }
  }

  &-bottom {
    height: 110px;
    padding: 0 20px;
    line-height: 110px;

    h4 {
      margin: 0;
      font-family: $bn;
      font-size: 14px;
      line-height: 110px;
      letter-spacing: .06em;

      a {
        color: red;
      }
    }

    p {
      margin: 0;
      text-align: center;
      font-size: 14px;
    }

    &-right {
      text-align: right;
    }
  }
}

.top-carousel {
  margin-bottom: 150px;

  img {
    filter: grayscale(100%);
    transition: all .6s;
  }

  .item {
    &:hover {
      img {
        filter: none;
      }
    }
  }
}

.filter-catalog {
  &-close {
    position: absolute;
    top: 25px;
    right: 25px;
    display: none;
    width: 25px;
    height: 25px;
    text-align: center;
    transform: rotate(45deg);

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      content: '';
      width: 25px;
      height: 1px;
      background-color: #000;
    }

    &:before {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      margin: 0 auto;
      content: '';
      width: 1px;
      height: 25px;
      background-color: #000;
    }
  }

  a h4 {
    color: #000;
    border-bottom: 3px solid #000;
  }

  h4 {
    position: relative;
    margin-bottom: 40px;
    padding: 0 12px 20px;
    font-family: $bn;
    font-weight: bold;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    &:after {
      position: absolute;
      top: 5px;
      right: 15px;
      content: '';
      width: 7px;
      height: 7px;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      transform: rotate(45deg);
    }
  }

  .item {
    margin-bottom: 60px;

    &-wrap {
      display: none;

      ul {
        margin: 0;
        padding: 0 0 0 35px;

        li {
          margin-bottom: 15px;
          list-style: none;

          &:last-child {
            margin-bottom: 0;
          }

          a {
            font-family: $ssp;
            font-weight: 200;
            font-size: 18px;
            color: #8b8b8b;

            &:hover,
            &.active {
              color: #000;
            }

            &.active {
              font-weight: bold;
            }
          }
        }
      }

      form {
        display: flex;
        justify-content: space-between;
      }

      input {
        width: calc(((100%) / 2) - 15px);
        background-color: #fafafa;
      }

      label {
        font-family: $ssp;
        font-weight: 200;
        font-size: 18px;
        color: #8b8b8b;

        &:hover {
          color: #000;
        }
      }
    }

    &.on {
      h4:after {
        top: 10px;
        transform: rotate(-135deg);
      }
    }
  }

  .btn {
    padding: 0;
    margin-bottom: 20px;
    width: 100%;
  }
}

.filter-show {
  display: none;
}

.breadcrumbs {
  margin: 0 0 30px;
  padding: 0;
  overflow: hidden;

  li {
    position: relative;
    float: left;
    list-style: none;

    &:after {
      content: '/';
      padding: 0 5px;
      color: #b2b2b2;
    }

    a {
      text-decoration: none;
      color: #000;
    }

    &:last-child {
      &:after {
        display: none;
      }
    }

    &:last-child {
      a {
        color: #b2b2b2;
      }
    }
  }
}

.title {
  margin: 0;
  height: 80px;
  padding: 0 35px;
  text-transform: uppercase;
  font-family: $bn;
  font-weight: bold;
  font-size: 24px;
  line-height: 80px;
  letter-spacing: .06em;
  background-color: #fafafa;

  a {
    float: right;
    text-transform: capitalize;
    font-family: $ssp;
    font-weight: normal;
    font-size: 18px;
    color: #000;
  }
}

.sort {
  text-align: right;
  overflow: hidden;

  h4 {
    position: relative;
    top: 4px;
    margin-right: 20px;
    text-transform: uppercase;
    display: inline-block;
    font-family: $bn;
    font-weight: bold;
    font-size: 20px;
  }
}

.pagination-custom {
  margin: 0;
  padding: 0;
  text-align: right;

  li {
    display: inline-block;
    margin: 0 4px;
    width: 34px;
    height: 34px;

    a {
      display: block;
      width: 34px;
      height: 34px;
      text-align: center;
      font-family: $ssp;
      font-size: 18px;
      line-height: 34px;
      color: #000;

      &.active {
        font-weight: bold;
      }
    }

    &:last-child,
    &:first-child {
      position: relative;
      transition: all .3s;

      i {
        transform: all .3s;
      }

      &:hover {
        background-color: #000;

        i {
          color: #fff;
        }
      }
    }

    &:first-child {
      margin-right: 10px;
    }

    &:last-child {
      margin-left: 10px;
    }
  }
}

.card-custom {
  margin-bottom: 70px;
  overflow: hidden;

  &-img {
    position: relative;

    img {
      width: 100%;
    }

    .btn-wish {
      position: absolute;
      top: 15px;
      left: 20px;
      z-index: 1;
      font-size: 16px;
      color: #fff;
    }

    ul {
      position: absolute;
      top: 120px;
      right: 0;
      left: 0;
      z-index: 1;
      margin: auto;
      padding: 0;
      text-align: center;
      opacity: 0;
      transition: all .6s;

      li {
        display: inline-block;
        margin: 0 4px;

        a {
          display: block;
          width: 44px;
          height: 44px;
          line-height: 40px;
          border-radius: 50%;
          border: 2px solid #fff;

          i {
            color: #fff;
          }

          &:hover {
            background-color: #fff;

            i {
              color: #000;
            }
          }
        }
      }
    }

    &:after {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, .5);
      content: '';
      opacity: 0;
      transition: all .3s;
    }
  }

  &-text {
    position: relative;
    top: 0;
    padding: 15px 6px 0;
    background-color: #fff;
    transition: all .3s;

    p {
      margin-bottom: 5px;
      font-weight: bold;
      font-family: $ssp;
      font-size: 18px;
      color: #000;
    }

    h5 {
      margin-top: 0;
      margin-bottom: 15px;
      text-transform: uppercase;
      font-family: $bn;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: .06em;
    }

    .price-new {
      text-transform: uppercase;
      font-family: $bn;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: .06em;
      overflow: hidden;

      span {
        float: left;
        text-decoration: line-through;
        font-family: $bn;
        line-height: 1.4;
        letter-spacing: 0.06em;
        color: #b2b2b2;
      }

      h5 {
        margin-bottom: 10px;
        float: left;
        margin-left: 12px;
        line-height: 1.4;
        color: red;
      }
    }

    .card-size {
      display: none;

      h6 {
        margin: 0 0 10px;
        font-family: $ssp;
        font-size: 18px;
        color: #b2b2b2;
      }

      p {
        margin-bottom: 10px;
        font-family: $bn;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: .06em;
      }
    }
  }

  &-color {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
    padding: 5px 6px 0;
    background-color: #fff;
    overflow: hidden;

    li {
      float: left;
      margin-right: 14px;
      width: 16px;
      height: 16px;
      list-style: none;

      &:last-child {
        margin-right: 0;
      }
    }

    &-black {
      background: #000;
    }

    &-blue {
      background-color: #294c9f;
    }

    &-pink {
      background-color: #a500db;
    }
  }

  &:hover {
    .card-custom-img {
      ul {
        opacity: 1;
      }

      &:after {
        opacity: 1;
      }
    }

    .card-custom-text {
      top: -71px;
    }

    .card-size {
      display: block;

    }

    .card-custom-color {
      margin-top: -71px;
    }
  }
}

.catalog {
  .breadcrumbs {
    margin-bottom: 30px;
  }

  .title {
    margin-bottom: 55px;
  }

  .sort {
    margin-bottom: 35px;
  }

  .pagination-custom {
    margin-top: 30px;
  }
}

.fotorama__thumb-border {
  background: rgba(black, .5);
}

.card-page {
  margin-top: 60px;

  .fotorama__nav.fotorama__shadows--right:after,
  .fotorama__stage.fotorama__shadows--right:after {
    display: none;
  }

  .fotorama__nav.fotorama__shadows--left:before,
  .fotorama__stage.fotorama__shadows--left:before {
    display: none;
  }

  .breadcrumbs {
    margin-bottom: 30px;
  }

  .card-gallery {
    float: left;
    margin-bottom: 150px;
  }

  .card-gallery {
    width: 588px;
  }

  .card-info {
    float: left;
    margin-bottom: 60px;
    width: 50%;
    width: calc(100% - 588px);
    padding-left: 90px;

    .title {
      margin-bottom: 60px;
    }

    &-main {
      padding-left: 40px;

      h4.price {
        margin: 0 0 40px;
        text-transform: uppercase;
        font-family: $bn;
        font-size: 34px;
        color: $blue;
      }

      ul.card-info-list {
        margin: 0 0 60px;
        padding: 0;

        li {
          margin-bottom: 15px;
          font-family: $ssp;
          font-size: 18px;
          line-height: 20px;
          list-style: none;
          color: #212121;
          overflow: hidden;

          span {
            float: left;
            display: table-cell;
            padding-bottom: 5px;
            padding-right: 5px;
            font-family: $bn;
            font-size: 20px;
            font-weight: bold;
            color: #000000;
          }
        }
      }

      h5 {
        float: left;
        margin: 0 0 25px;
        font-family: $bn;
        font-size: 20px;
        font-weight: bold;

        img {
          margin-right: 10px;
        }
      }

      ul.card-info-size {
        margin: 0 0 70px;
        padding: 0;

        span {
          float: left;
          padding-right: 25px;
          font-family: $bn;
          font-size: 20px;
          line-height: 40px;
          font-weight: bold;
          color: #000000;
        }

        li {
          display: inline-block;
          margin-right: 15px;
          margin-bottom: 18px;
          min-width: 40px;
          height: 40px;
          padding: 0 10px;
          text-transform: uppercase;
          font-family: $bn;
          font-weight: bold;
          text-align: center;
          letter-spacing: .06em;
          font-size: 20px;
          line-height: 40px;
          color: #000;
          list-style: none;
          border: 2px solid #eeeeee;
          transition: all .3s;
          cursor: pointer;

          &:hover {
            border-color: #000;
          }

          &.none {
            color: #aeaeae;
            cursor: default;

            &:hover {
              border-color: #eee;
            }
          }

          &.active {
            color: #fff;
            background-color: #000;
            border-color: #000;

            &:hover {
              color: #000;
              background-color: #fff;
            }
          }
        }
      }

      ul.card-info-share {
        margin: 0;
        padding: 0;
        overflow: hidden;

        h5 {
          padding-right: 35px;
          line-height: 40px;
        }

        li {
          display: inline-block;
          margin-right: 15px;
          width: 40px;
          height: 40px;
          text-align: center;
          font-size: 16px;
          line-height: 40px - 4;
          list-style: none;
          border: 2px solid #eeeeee;
          background-color: #eeeeee;
          transition: all .3s;

          i {
            color: #aeaeae;
            transition: all .3s;
          }

          a {
            display: block;
          }

          &:hover {
            background-color: #fff;
            border-color: #000;

            i {
              color: #000;
            }
          }
        }
      }
    }
  }
}

.more-card-carousel {
  margin-top: 30px;

  a {
    img {
      margin-bottom: 15px;
      width: 100%;
    }

    p {
      margin: 0 0 5px;
      padding: 0 5px;
      font-size: 18px;
    }

    h5 {
      margin: 0;
      padding: 0 5px;
      font-family: $bn;
      font-weight: bold;
      font-size: 20px;
      color: #000;
    }
  }
}

.basket {
  .title {
    margin-bottom: 70px;
  }

  .item {
    position: relative;
    margin-bottom: 40px;
    min-height: 270px;
    padding-bottom: 30px;
    overflow: hidden;
    border-bottom: 1px solid #eee;

    img {
      float: left;
      width: 280px;
    }

    &-text {
      display: table-cell;
      padding-left: 30px;

      .item-trash {
        position: absolute;
        top: 10px;
        right: 20px;
        transition: all .3s;

        i {
          font-size: 24px;
          color: #aeaeae;
          transition: all .3s;
        }

        &:hover {
          i {
            color: #000;
          }
        }
      }

      h4 {
        width: 60%;
        margin: 10px 0 45px;
        text-transform: uppercase;
        font-family: $bn;
        font-weight: bold;
        font-size: 24px;
        line-height: 30px;
      }

      ul {
        margin: 0 0 20px;
        padding: 0;

        li {
          margin-bottom: 5px;
          font-family: $ssp;
          font-size: 18px;
          line-height: 20px;
          list-style: none;
          color: #212121;
          overflow: hidden;

          span {
            float: left;
            display: table-cell;
            padding-bottom: 5px;
            padding-right: 5px;
            font-family: $bn;
            font-size: 20px;
            font-weight: bold;
            color: #000000;
          }
        }
      }

      &-bottom {
        position: absolute;
        bottom: 30px;
        width: calc(100% - 280px - 30px);
        overflow: hidden;

        .quantity {
          position: absolute;
          bottom: 0;
          float: left;
          width: 50%;
          font-family: $bn;
          font-weight: bold;

          input {
            float: left;
            margin: 0 10px;
            width: 40px;
            height: 40px;
            text-align: center;
            font-size: 20px;
            line-height: 36px;
            font-weight: bold;
            border: 2px solid #eee;
            background-color: #fff;
            color: #000;
            outline: none;
            transition: all .3s;
          }

          button {
            float: left;
            display: block;
            width: 40px;
            height: 40px;
            font-size: 20px;
            font-weight: bold;
            border: 2px solid #eee;
            background-color: #eee;
            color: #aeaeae;
            outline: none;
            transition: all .3s;

            &:hover {
              color: #000;
              border-color: #000;
              background-color: #fff;
            }
          }
        }

        .item-sum {
          float: right;
          width: 50%;
          padding-right: 20px;
          text-align: right;

          p {
            margin: 0 0 5px;
            font-size: 18px;
            font-family: $ssp;
            font-weight: 200;
          }

          h5 {
            margin: 0;
            font-family: $bn;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 20px;
          }
        }
      }
    }

    &-min {
      min-height: 160px;
      padding-bottom: 20px;

      img {
        width: 130px;
      }

      .item-text-bottom {
        width: calc(100% - 130px - 30px);
      }
    }
  }

  &-info {
    .btn {
      margin-bottom: 20px;
      width: 100%;
    }

    .btn-wrap.btn-wrap-one {
      display: block;
      text-align: right;
    }

    &-main {
      margin-bottom: 40px;
      padding: 25px 50px 45px;
      background-color: #fafafa;

      h4 {
        margin: 0 0 30px;
        padding-bottom: 15px;
        font-family: $bn;
        font-weight: bold;
        font-size: 24px;
        border-bottom: 1px solid #c8c8c8;
      }

      h5 {
        margin: 30px 0 -10px;
        padding-top: 15px;
        font-family: $bn;
        font-weight: bold;
        font-size: 24px;
        border-top: 1px solid #c8c8c8;

        span {
          float: right;
        }
      }

      ul {
        margin: 0;
        padding: 0;

        li {
          margin-bottom: 15px;
          font-family: $bn;
          font-weight: bold;
          font-size: 20px;
          list-style: none;

          span {
            float: right;
            font-family: $ssp;
            font-weight: normal;
            font-size: 18px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.processing {
  h4 {
    margin: 0 0 25px;
    font-family: $bn;
    font-size: 24px;
    font-weight: bold;
  }

  input {
    margin-bottom: 20px;
    width: 100%;
    padding: 0 25px;
    background-color: #f8f8f8;
  }

  textarea {
    width: 100%;
    background-color: #f8f8f8;
  }

  .select-region {
    margin-bottom: 60px;

    .ui-selectmenu-button.ui-button {
      width: 100%;
    }

    h4 {
      margin: 0 0 25px;
      font-family: $bn;
      font-size: 24px;
      font-weight: bold;
    }
  }

  .select-address {
    margin-bottom: 60px;
  }

  .method {
    margin-bottom: 60px;

    &-item {
      overflow: hidden;
      margin-bottom: 20px;
    }

    .radio-wrap {
      width: 56px;
      height: 56px;
      float: left;
      margin-top: -5px;
      padding-left: 5px;
      text-align: center;
    }

    &-main {
      float: left;
      width: calc(100% - 56px);
      min-height: 50px;
      padding: 0 25px;
      font-family: $ssp;
      font-size: 16px;
      line-height: 50px;
      background-color: #f8f8f8;

      ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: space-between;

        li {
          list-style: none;
        }
      }
    }
  }
}

.contacts {
  margin-top: 90px;

  .title {
    margin-bottom: 60px;
  }

  &-text {
    padding-left: 60px;
  }

  img {
    width: 100%;
  }

  ul.contacts-item {
    margin: 0 0 100px;
    padding: 0 0 0 40px;

    li {
      margin-bottom: 35px;
      font-family: $ssp;
      font-size: 18px;
      line-height: 20px;
      list-style: none;
      color: #212121;
      overflow: hidden;

      a {
        text-decoration: none;
        color: #000;
      }

      span {
        float: left;
        display: table-cell;
        padding-bottom: 5px;
        padding-right: 10px;
        font-family: $bn;
        font-size: 20px;
        font-weight: bold;
        color: #000000;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.inner-page {
  .title {
    margin-bottom: 60px;
  }

  &-img {
    margin-bottom: 130px;
    img {
      width: 100%;
    }
  }

  &-text {
    padding-left: 60px;
  }

  &-item {
    margin-bottom: 50px;
    padding-left: 40px;

    h4 {
      margin: 0 0 20px;
      font-family: $l;
      font-weight: normal;
      font-size: 26px;
    }
    h5 {
      margin: 0 0 25px;
      font-family: $ssp;
      font-weight: bold;
      font-size: 18px;
    }
    p {
      font-weight: normal;
    }

    ol,
    ul {
      margin: 0;
      padding: 0;

      li {
        margin-bottom: 20px;
        font-family: $ssp;
        font-size: 18px;
        line-height: 26px;
        color: #8b8b8b;
        list-style: none;
      }
    }

    ol {
      li {
        position: relative;
        padding-left: 30px;
        counter-increment: count-ramario;

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: counter(count-ramario) ". ";
          font-weight: bold;
          color: #000;
        }
      }
    }

    ul {
      li {

      }
    }
  }
}

#map {
  height: 620px;
}

@media (max-width: 1609px) {
  .category-two-show {
    padding: 30px 50px;
  }

  .card-page .card-info {
    padding-left: 30px;
  }

  .contacts-text {
    padding-left: 0;
  }

  .inner-page-text {
    padding-left: 0;
  }

  .inner-page-img {
    margin-bottom: 60px;
  }
}

@media (max-width: 1279px) {
  .header-main-nav>li {
    margin-right: 33px;
  }

  .category-one,
  .category-two,
  .banners {
    margin-bottom: 110px;
  }

  .banners .show-catalog {
    padding: 30px 100px;
  }

  .banners img {
    max-width: initial !important;
    width: auto;
    height: 100%;
  }

  .banners .img-wrap {
    overflow-x: hidden;
  }

  .top-carousel {
    margin-bottom: 100px;
  }

  .filter-show {
    float: left;
    display: block;
    width: 40px;
    height: 40px;
    text-align: center;
    border: 2px solid #000;
    font-size: 20px;
    line-height: 40px - 4;
    transition: all .3s;

    &:hover {
      color: #fff;
      background-color: #000;
    }
  }

  .filter-catalog {
    position: absolute;
    left: -500px;
    width: 490px;
    z-index: 999;
    margin-top: 135px;
    padding: 60px 130px 60px 50px;
    background-color: #fff;
    border: 1px solid #000;
    border-left: none;
    overflow-y: auto;
    transition: left .6s;

    &.on {
      left: 0;
    }

    &-close {
      display: block;
    }
  }

  .card-custom-text .card-size {
    display: block;
  }

  .card-custom {
    &:hover {
      .card-custom-text {
        top: 0;
      }

      .card-custom-color {
        margin-top: 0;
      }
    }
  }

  .card-page .card-gallery {
    width: 416px;
  }

  .card-page .card-info {
    width: calc(100% - 416px);
  }

  .basket-info .btn-wrap {
    display: flex;
    justify-content: space-between;

    .btn {
      width: calc((100% / 2) - 15px);
    }
  }

  .inner-page-item {
    padding-left: 0;
  }
}

@media (max-width: 959px) {
  .header-top {
    height: 50px;
    line-height: 50px;
  }

  .header-top-logo img {
    max-width: 100px;
  }

  .header-top-nav {
    display: none;
  }

  .header-top-phone {
    font-size: 18px;
  }

  .header-main {
    height: 50px;
    padding: 0 25px;
    line-height: 50px;
  }

  .header-main-user li {
    margin-left: 25px;
  }

  .hero-carousel img {
    filter: none;
  }

  .header-main-nav {
    position: absolute;
    top: 70px - 2;
    left: -10px;
    z-index: -1;
    margin: 1px 0 0;
    padding: 15px 0;
    background-color: #000;
    opacity: 0;
    transition: opacity .3s;
    visibility: hidden;

    li {
      list-style: none;
      float: none;
      margin: 0;

      a {
        width: 100%;
        height: 40px;
        padding: 0 30px;
        font-size: 16px;
        line-height: 40px;

        &:before,
        &:after {
          display: none;
        }

        &:hover {
          color: #000;
          background-color: #fff;
        }
      }
    }

    &.on {
      top: 50px;
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }

  .header-main-nav>li>a:hover+.header-main-nav-show {
    display: none;

    &.on {
      display: none;
    }
  }

  .header-main-nav>li>a+.header-main-nav-show {
    display: none;

    &.on {
      display: block !important;
      top: -1px;
      left: 101%;
      left: calc(100% + 1px);
      z-index: 2;
      opacity: 1;
      visibility: visible;
    }
  }

  .header-main-user li .search-form button {
    top: 5px;
  }

  .header-main-nav-btn {
    font-family: $bn;
    font-weight: bold;
    font-size: 14px;
    color: #fff !important;

    .icon {
      float: left;
      margin-top: 18px;
      margin-right: 15px;
    }

    span {
      display: block;
      margin-bottom: 2px;
      width: 16px;
      height: 2px;
      background-color: #fff;
    }
  }

  .header-main-user li .item img {
    max-width: 20px;
    max-height: 20px;
  }

  .category-two-show {
    padding: 60px 80px;
  }

  .category-two-show h3 {
    margin-bottom: 30px;
  }

  p {
    font-size: 16px;
  }

  .banners .show-catalog {
    padding: 120px 100px;
  }

  .footer-main .subscribe {
    padding: 40px 30px;
  }

  .footer-main-nav .item {
    padding-bottom: 60px;
  }

  .footer-main-nav {
    margin-bottom: 0;
  }

  .footer-bottom {
    height: 70px;
    line-height: 70px;
  }

  .footer-bottom h4 {
    line-height: 70px;
  }

  .container-fluid {
    padding: 0 15px;
  }

  .category-one .row {
    margin: 0;
  }

  .category-one a span {
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }

  .hero {
    margin-bottom: 110px;
  }

  .checkbox-wrap {
    margin-top: 25px;
  }

  .header-main-nav-btn .icon {
    margin-top: 21px;
  }

  .card-page .card-gallery {
    margin-bottom: 60px;
    width: 100%;
  }

  .card-page .card-info {
    width: 100%;
    padding-left: 0;
  }

  .card-page .card-info {
    margin-bottom: 110px;
  }

  .basket .item {
    min-height: 350px;
  }

  .basket .item img {
    width: 130px;
  }

  .basket .item-text h4 {
    font-size: 20px;
    line-height: 26px;
  }

  .basket .item-min {
    min-height: 160px;
  }

  .contacts {
    margin-top: 60px;
  }

  .contacts-text {
    margin-top: 40px;
  }

  .contacts ul.contacts-item {
    padding-left: 20px;
  }

  #map {
    height: 460px;
  }
}

@media (max-width: 639px) {
  .header-top-phone {
    margin-left: 0;
    font-size: 18px;
  }

  .header-main {
    padding: 0 15px;
  }

  .hero-carousel span {
    bottom: 15px;
  }

  .owl-carousel .owl-nav {
    margin-bottom: -50px;
  }

  .category-one a span {
    bottom: 10px;
  }

  .category-two-show {
    padding: 45px 30px;
  }

  .banners .show-catalog {
    padding: 45px 30px;
  }

  .banners .show-catalog h4 {
    margin-bottom: 30px;
  }

  .banners .show-catalog p {
    margin-bottom: 50px;
  }

  .btn {
    padding: 0 65px;
  }

  .footer-main .subscribe h3 {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 26px;
  }

  .footer-main .subscribe {
    padding: 40px 15px 25px;
  }

  .footer-main-nav .item {
    padding-left: 45px;
  }

  .footer-bottom h4 {
    margin: 5px 0;
    line-height: 1.4;
  }

  .footer-bottom {
    padding: 25px 0;
    text-align: center;
    height: auto;
    line-height: 1.4;
  }

  .footer-bottom-right {
    text-align: center;
  }

  .header-main-user li .item img {
    max-width: 18px;
    max-height: 18px;
  }

  .header-main-user li {
    margin-left: 18px;
  }

  .header-main-user li .item span {
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    line-height: 15px;
    font-size: 11px;
  }

  .header-main-nav {
    left: 0;
  }

  .catalog .pagination-custom {
    margin-top: 10px;
  }

  .pagination-custom {
    text-align: center;
  }

  .pagination-custom li {
    margin: 0;
  }

  .catalog .sort h4 {
    display: none;
  }

  .ui-selectmenu-button.ui-button {
    width: 220px;
  }

  .filter-catalog {
    margin-top: 185px;
    padding-top: 70px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    border-right: none;
  }

  .filter-catalog h4 {
    font-size: 24px;
  }

  .filter-catalog .item-wrap ul {
    padding-left: 20px;
  }

  .card-gallery .fotorama__stage {
    margin-bottom: 20px;
  }

  .card-page .card-info-main {
    padding-left: 15px;
  }

  .card-page .card-info {
    margin-bottom: 80px;
  }

  .card-page .card-info-main ul.card-info-size span,
  .card-page .card-info-main ul.card-info-share h5 {
    display: block;
    float: none;
    padding-bottom: 10px;
  }

  .card-page .card-info-main ul.card-info-share h5 {
    margin-bottom: 0;
  }

  .basket .item {
    padding-bottom: 10px;
  }

  .basket .item img {
    float: none;
  }

  .basket .item-text {
    position: relative;
    display: block;
    padding-top: 20px;
    padding-left: 0;
  }

  .basket .item-text h4 {
    width: 80%;
  }

  .basket-info-main {
    padding: 25px;
  }

  .basket .item-text .item-trash {
    top: 30px;
    right: 5px;
  }

  .basket-info .btn-wrap {
    display: block;

    .btn {
      width: 100%;
      padding: 0;
    }
  }

  .title {
    padding: 0 25px;
  }

  .title a span {
    display: none;
  }

  .basket .item-min .item-text-bottom {
    width: 100%;
  }

  .basket .item-text h4 {
    width: 100%;
  }

  .basket .item-text-bottom {
    position: relative;
    bottom: 10px;
  }

  .basket-info-main ul li span,
  .basket-info-main h5 span {
    float: none;
    display: block;
  }

  .processing .method-main ul {
    display: block;
  }

  .processing .method-main {
    padding-top: 12px;
    padding-bottom: 12px;
    line-height: 1.4;

    li {
      margin-bottom: 5px;
    }
  }

  .basket-info-main h5 {
    font-size: 20px;
  }

  .processing .method .radio-wrap {
    width: 44px;
  }

  .contacts ul.contacts-item {
    margin-bottom: 80px;
  }

  .contacts ul.contacts-item li span {
    float: none;
    display: block;
    padding-bottom: 5px;
  }

  .title {
    font-size: 22px;
  }

  #map {
    height: 240px;
  }
}